<html>
<head>

  <title>Gestionale temperature</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h1 class="text-center"> Gestionale Temperature</h1>
        <br><br>
        <div class="text-center">
          <a class="btn btn-primary" href="/carica" role="button">Carica dati</a>
          <a class="btn btn-primary" href="/riepilogo" role="button">Riepilogo</a>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

</body>

</html>
