
<html>
	<head>
		<meta charset="ISO-8859-1"> 
		<title>Gestionale eventi</title> 
	</head>
	<body> 
		<h1>Aggiungi prenotazione</h1>
		<form action="/add" method="post">
		<label for="exampleFormControlInput1">Nome:</label>
		<input name="nome" type="text" placeholder="es. Luca"><br>
		
		<label for="exampleFormControlInput1">Cognome:</label>
		<input name="cognome" type="text" placeholder="es. Rossi"><br>
		
		<label for="exampleFormControlInput1">Numero persone:</label>
		<input name="numeroP" type="text" placeholder="es. 4"><br>
		<button type="submit" class="btn btn-primary">Invia</button>
		</form>
		
	</body> 
</html>