<html>

	<head>
	</head>
	
	<body>
		
	<% for (var i = 0; i < miaVariabile.getMioArray.lenght; i++ ) {%>
		Nome --> <%=miaVariabile.getMioArray[i].getRitornaNome %> Quantita --> <%=miaVariabile.getMioArray[i].getRitornaQuantita %><br>
	<%}%>
	</body>
	
</html>